@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-normal: burlywood; 
    --color-texto: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "REM", sans-serif;
    

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-normal);
    color: var(--color-texto);
    padding: 0 15px 0 15px;
}
a{
    text-decoration: none;
    padding: 15px;
    color: var(--color-texto);
}

.nav a{
    color: var(--color-texto);
}
